table,td,tr{
    border: 1px solid grey;
    border-collapse: collapse;
}
table{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
}

.Element {
 font-size: 28px;
    float: left;
    margin: 0;
}

.NUMBER_MASSA{
    text-align: right;
    margin: 0;
}

.TABLE_CELL{
    width: 7%;
    padding: 0;
    margin: 0;
}

.ROWS{
    width: 5%;
    text-align: center;
    font-size: 10px;
}

.PERIODS{
    width: auto;
    text-align: center;
}

.NAME_Element{
    text-align: left;
    margin: 0;
}

.RED{
    background-color: #EC5AA3;
}

.YELLOW{
    background-color: yellow;
}

img{

    width: 100%;
}