table,td,tr{
    border: 1px solid grey;
    border-collapse: collapse;
}
table{
    width: 70%;
    margin: auto;
}

body{
    margin: 0;
    padding: 0;
}

.NAME_TABLE{
    font-size: 23px;
}

.Element {
 font-size: 28px;
    float: left;
    margin: 0;
}

.NUMBER_MASSA{
    text-align: right;
    margin: 0;
}

.TABLE_CELL{
    width: 7%;
    padding: 0;
    margin: 0;
}

.ROWS{
    width: 2%;
    text-align: center;
}

.PERIODS{
    width: 2%;
    text-align: center;
}

.NAME_Element{
    text-align: left;
    margin: 0;
}

.RED{
    background-color: #EC5AA3;
}

.YELLOW{
    background-color: yellow;
}

.BLUE{
    background-color: aquamarine;
}

img{
    width: 100%;
}

.NUMBER_MASSA_OBRATNOE{
    text-align: left;
    float: left;
    margin: 0;
}
.Elemen_OBRATNOE {
    font-size: 28px;
    text-align: right;
    margin: 0;
}

.GROUPS{
    text-align: center;
}